:root{
    --fond-blanc: #fcf9f4ff; 
    --entete-blanc: #f5f3eeff; 
    --texte-blanc: #1f1f1eff; 
    --entete-noir: #212121ff; 
    --fond-noir: #181818ff; 
    --texte-noir: #f5f5f5ff;

}

body{
    background-color: var(--fond-blanc);
    color: var(--texte-blanc);
    margin: 0%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

header{
    width:100%;
    padding: 1em;
    background-color: var(--entete-blanc);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    display: block;
}
main{
    margin: 2em;
}
