.light-mode {
    --fond: #fcf9f4ff;
    --containers: #f5f3eeff;
    --texte: #1f1f1eff;
    --box-shadow: rgba(0, 0, 0, .3);
}

.dark-mode {
    --fond: #181818ff;
    --containers: #212121ff;
    --texte: #f5f5f5ff;
    --box-shadow: rgba(255, 255, 255, 0.3);
}

:root {
    --ishrath: #e85151ff;
    --azura: #0dbad4ff;

}

@media (prefers-color-scheme: light) {
    body {
        --fond: #fcf9f4ff;
        --containers: #f5f3eeff;
        --texte: #1f1f1eff;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        --fond: #181818ff;
        --containers: #212121ff;
        --texte: #f5f5f5ff;
    }
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background-color: var(--fond);
    color: var(--texte);
    margin: 0;
    font-family: 'Kalam', Verdana, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.header {
    /*column-gap: 10%;*/
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    /*background-color: var(--containers);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);*/

}

.profil1 {
    width: 25%;
    display: flex;
    background-color: var(--containers);
    margin: 0;
    padding: 2%;
    border-bottom-right-radius: 30%;
    box-shadow: 0px 0px 5px var(--box-shadow);
}

.profil1 img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 50%;
}

.profil2 {
    width: 25%;
    display: flex;
    background-color: var(--containers);
    margin: 0;
    padding: 2%;
    border-bottom-left-radius: 30%;
    box-shadow: 0px 0px 5px var(--box-shadow);
}

.profil2 img {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 50%;

}


#sitename {
    width: 50%;
    height: 20vw;
    background-color: var(--containers);
    box-shadow: 0px 0px 5px var(--box-shadow);
    z-index: -1;
}

/*switch things*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--containers);
}

input:checked+.slider {
    background-color: var(--containers);
}

.main {
    margin: 2em;
}

.title {
    margin-top: 30%;
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10%;
}

.separator {
    width: 100%;
    height: 1vw;
    background-color: var(--ishrath);
}

.title p{
    font-size: 1.15rem;
    font-weight: 700;
}

.description {
    width: 100%;
    background-color: var(--containers);
    text-align: justify;
    justify-content: center;
}

.description p {
    margin: 3%;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery img{
    margin-bottom: 30%;
}

#bouton{
    background-color: var(--containers);
    width: 15vw;
    height: 15vw;
    border-radius: 30%;
    float: right;
    margin: 3%;
    display: flex;
    align-items:center ;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

#bouton a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--texte);
}


.footer{
    margin-top: 30%;
    width: 100%;
    height: 50vw;
    background-color: var(--containers);

}